{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <form action="" method="POST" autocomplete="off">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-button mb-4">Post Delete</legend>
            <h3>Are you sure you want to delete the post "{{ object.title }}"</h3>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.pk %}">Cancle</a>
        </div>
    </form>
</div>

{% endblock content %}